# Игнорируем файлы и папки, связанные с моделью
*.keras
*.h5
*.pth

# Игнорируем файлы и папки, связанные с данными
*.npy

# Игнорируем временные и лог-файлы
*.log
*.tmp
*.bak

# Игнорируем папки виртуальных окружений
venv/
.venv/
.env/
__pycache__/

# Игнорируем файлы, генерируемые IDE (например, VS Code, PyCharm)
.vscode/
.idea/
